<%- include('header'); -%>

<main id="page-compte">

<div id="lemain">
    <section id="compte-photo" class="compte">
        <img src="/image/icone-compte.png">
        <div>
            <h1><%= prenom %> <%= nom %></h1>
            <p>Nom d'utilisateur : <%= login %></p>

        </div>
    </section>
    
    <section id="compte-infos" class="compte">
        <article class="groupe-info">
            <h3>Nom :</h3>
            <p><%= nom %></p>
        </article>
        <article class="groupe-info">
            <h3>Prénom :</h3>
            <p><%= prenom %></p>
        </article>
        <article class="groupe-info">
            <h3>Date de naissance :</h3>
            <p><%= ddn %></p>
        </article>
        <article class="groupe-info">
            <h3>Mot de passe : </h3>
            <p><%= password %></p>
        </article>
        <article class="groupe-info">
            <h3>Adresse e-mail :</h3>
            <p><%= email %></p>
        </article>
        <article id="boutonModif">
            <button id="modif">Modifier mes informations</button>
        </article>
    
        <div id="suppression">
            <h3 id="boutonSupr">Supprimer mon compte</h3>
        </div>
    
    
    </section>

</div>

</main>




<%- include('footer'); -%>
