<%- include('header'); -%>

    <main>
        <div id="containerimage">
            <img id="vieux" src="./image/vieux.png" alt="un vieux content de faire du sport">
        </div>


        <% if (isAuth==true && Role== "client" ) { %>
            <h1  class="bienvenue"><%-"Bonjour " + prenom + " ! <br> Bienvenue sur votre page Client" %></h1>

                <% }else if (isAuth==true && Role== "admin" ) { %>
                    <h1  class="bienvenue"><%-" Bonjour " + prenom + " ! <br> Bienvenue sur votre page Administrateur" %></h1>

                        <% }else if (isAuth==true && Role== "agent" ) { %>
                            <h1  class="bienvenue"><%-" Bonjour " + prenom + " ! <br> Bienvenue sur votre page Agent" %></h1>
                                <% } %>

                          


                            <div id="containercatego" class="container">
                                <h1>
                                    Catégories de matériels sportifs
                                </h1>
                                <article id="images-catego">
                                    <a href="/catalogue"><img id="cardio" src="./image/femme-tapis-course.jpeg"
                                            alt="femme qui court sur un tapis de course"></a>
                                    <a href="/catalogue"><img id="muscu" src="./image/homme-muscu.jpg"
                                            alt="homme qui fait de la muscu"></a>
                                    <a href="/catalogue"><img id="renfo" src="./image/renforcement.jpg"
                                            alt="homme qui renforce ses muscles"></a>
                                </article>
                            </div>

                            <div id="containerphares" class="container">
                                <h1>
                                    Nos produits phares
                                </h1>
                                <section id="imagesphares">
                                    <% for (i=0; i<=3; i++){ %>
                                    <article class="articlesphares">
                                        <img id="tapis-course" src="/image/<%= produits[i].image %>" alt="un tapis de course">
                        
                                            <p><a href="/produit/<%= produits[i].id %>"><%= produits[i].nom %></a></p>
                                    
                                        <div class="etoiles">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <p>(12)</p>
                                        </div>
                                        <p><%= produits[i].prix_location %>€/Mois</p>
                                        <p>Demander un devis</p>
                                        <p class="abc"><a href="/produit/<%= produits[i].id %>" >Voir le produit</a></p>
                                    </article>
                                    <%
                                        } %>
                         
                                </section>
                            </div>

    </main>

    <%- include('footer'); -%>