<%- include('header'); -%>
<main>
    <article id="produit">
        <div id="leProduit">
            <img src="/image/<%= resultat.image %>">
        </div>
        <div id="text" style="width: 400px;">
            <a href="/catalogue"><div id="retour">
                <img src="/image/icone fleche.png" id="fleche">
                <p class="typo">Retour</p>
            </div></a>
          
            <h1 class="title"><%= resultat.type %></h1>
            <p class="typo" id="description" style="width: 400px;"><%= resultat.description %></p>
            <!-- <h2 class="title" id="prix"><%= resultat.prix_location + 34 %>€ / Mois</h2> -->
            <h1 class="title"><%= resultat.prix_location %>€ / Mois</h1>
            <div class="etoiles star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <p class="typo">(12)</p>
            </div>
            <p class="typo" id="fiche">Voir la fiche technique</p>
            <a href="/calendrier">  
                <p class="typo bouton" id="devis">Faire un devis</p>
            </a>
                      
        </div>
    </article>

    <article id="lescomm">
        <div id="commentairetitle">
            <p>COMMENTAIRES</p> 
            <hr></hr>
        </div>
        <div class="comm">
            <section class="section1">
                    <img src="/image/icone-compte.png" class="imgcompte">
                <section class="section2">
                    <h1>Pierre</h1>
                    <div class="etoiles star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </section>
            </section>
            <p>Waouh, C'est super ! ^^</p>
            <div id="repondre">
                <img src="/image/prochain.png">
                <p>Répondre</p>
            </div>
        </div>


        <div class="comm">
            <section class="section1">
                <img src="/image/icone-compte.png" class="imgcompte">
                <section class="section2">
                    <h1>Kimberley</h1>
                    <div class="etoiles star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star"></span>
                    </div>
                </section>
            </section>
            <p>C'est nul, j'arrive pas à utiliser la machine !</p>
            <div id="repondre">
                <img src="/image/prochain.png">
                <p>Répondre</p>
            </div>
        </div>


        <div class="comm">
            <section class="section1">
                    <img src="/image/icone-compte.png" class="imgcompte">
                <section class="section2">
                    <h1>Pierre</h1>
                    <div class="etoiles star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </section>
            </section>
            <p>Waouh, C'est super ! ^^</p>
            <div id="repondre">
                <img src="/image/prochain.png">
                <p>Répondre</p>
            </div>
        </div>

        
    </article>
</main>

<%- include('footer'); -%>